@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    background-color:white;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 95px;
    background-color: rgb(243, 54, 54);
    color: white;
}

nav ul li {
    position: relative;
    font-weight: bolder;
    font-size: 20px;
    padding: 0 12px;
}

nav ul li a {
    position: relative;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.8rem;
    font-family:cursive;
}

.container {
    min-height: 62vh;
    background-color: rgb(243, 54, 54);
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: rgb(243, 54, 54);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: -14px;
    margin-bottom: 21px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 74px;
}

.songItem {
    height: 60px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    width: 130%;
}

.songItem img {
    width: 50px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin-bottom: 0px 23px;
    position: relative;
}

.timestamp i {
    cursor: pointer;
    padding-right: 10px;
}

#masterSongName {
    position: relative;
    margin-left: 100px;
    font-size: 30px;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

#end {
    position: absolute;
    left: 1580px;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: red;
    }
}